.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: #A5EFBD;
  height: 10vh;
  padding: 7px;
  color: black;
  display: none; 
}

.userName{
  color: #A5EFBD;
}

.App-header a {
  color: white;
  padding: 5 5px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.right{
  background: rgba(158, 158, 158, 0.562);
  text-align: right;
  border-radius: 25px;
  margin-right: 10px;
  padding-right: 5px;
  width:80%;

}

.right p{
  padding: 13px;
}

.left p{
  padding: 13px;
}


.left{
  background: rgba(255, 255, 255, 0.733);
  text-align: left;
  border-radius: 25px;
  margin-left: 10px;
  padding-left: 5px;
  width:80%;

}

.Conversations {
  background-repeat: repeat-x;
  height:100%;
}

.messagePreview{
  background-color:#a5efbd;
  height:100vh;
  overflow-y: scroll;
  padding: 2rem;
 

}

.messageDetails {
  height:100vh;
  overflow-y: scroll;
  background:white;
background-image: linear-gradient( 0.1deg,  #72E8C2 30%,#ECB1E7 99.9% );
border-color: white;
    border-style: dashed;

}

.chatInput {
  height:50px;
}

.conversationTitle{
  position:absolute;
}

body{
  height:100vh;
  background: url(https://i.imgur.com/51p5SCq.gif) repeat center fixed;

}

h1 {
  font-family: 'Bungee Shade', cursive;
  color: black;
}

h3 {
  font-family: 'Bungee Shade', cursive;
}

.componentDisplay{
  padding:20px;
  background:white;
}

.Login{
  padding:20vw;
  background: url(https://i.imgur.com/51p5SCq.gif) repeat center fixed;
}

.Signup{
  padding:20vw;
  background: #ed008c;
}

p{
  font-style: caption;
}

.btn-secondary {
  background-color: rgba(59, 55, 55, 0.445);
  border-color: rgb(116, 117, 117);
  border-radius: 20px;
}

.MessageList{

  margin-top: 2rem;

}

.chatInput{
  border-radius: 20px;
}

.btn-primary{
  border-radius: 20px;
}

.conversationNames{
  background: rgba(255, 255, 255, 0.452);

}
.conversationNames p{
  color: rgb(70, 70, 70)

}

p{
  color: rgb(70, 70, 70)

}

.bye{
  color: black; 
}