.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: #A5EFBD;
  height: 10vh;
  padding: 7px;
  color: black;
}

.App-header a {
  color: white;
  padding: 5 5px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.right{
  background: rgba(165, 239, 188, 0.562);
  text-align: right;
  border-radius: 25px;
  margin-right: 10px;
  padding-right: 5px;

}

.right p{
  padding: 13px;
}

.left p{
  padding: 13px;
}


.left{
  background: rgba(114, 232, 224, 0.527);
  text-align: left;
  border-radius: 25px;
  margin-left: 10px;
  padding-left: 5px;

}

.Conversations {
  background-repeat: repeat-x;
  height:100%;
}

.messagePreview{
  background-color:rgb(66, 66, 71);
  height:100vh;
  overflow-y: scroll;
 

}

.messageDetails {
  height:100vh;
  overflow-y: scroll;
  background:white;

}

.chatInput {
  height:50px;
}

.conversationTitle{
  position:absolute;
}

body{
  height:100vh;
  background: url(https://i.imgur.com/51p5SCq.gif) repeat center fixed;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

h3 {
  font-family: 'Bungee Shade', cursive;
}

.componentDisplay{
  padding:20px;
  background:white;
}

.Login{
  padding:20vw;
}

.Signup{
  padding:20vw;
  background: #ed008c;
}