.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20px;
}

.App-header {
  background-color: #A5EFBD;
  height: 20vh;
  padding: 20px;
  color: black;
}

.App-header a {
  color: white;
  padding: 0 5px;
}

.App-title {
  font-size: 1em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Chat{
  background-image:url("../images/turqouise.png");
}

.right{
  background:#fafafabe;
  text-align: right;
  border-radius: 25px;
  margin-right: 15px;
  padding-right: 5px;

}


.left{
  background: #fafafabe;
  text-align: left;
  border-radius: 25px;
  margin-left: 15px;
  padding-left: 5px;

}

.Conversations {
  background-repeat: repeat-x;
  height:100%;
}

.messagePreview{
  background-color: #F5D5ED;
  height:100vh;
  overflow-y: scroll;

}

.messageDetails {
  height:100vh;
  overflow-y: scroll;

}

.chatInput {
  height:50px;
}

.conversationTitle{
  position:absolute;
}

body{
  height:100vh;
  background: url(https://i.imgur.com/51p5SCq.gif) repeat center fixed;
}

h1 {
  font-family: 'Bungee Shade', cursive;
}

h3 {
  font-family: 'Bungee Shade', cursive;
}

.componentDisplay{
  padding:20px;
}

.Login{
  padding:20vw;
}

.Signup{
  padding:20vw;
}